.text-center, .modal-title {
  text-align: center;
}
button{
  float: right;
}
.modal-content{
  width: 555px;
  height: 200px;
}

.ellipsis {
  max-width: 200px;
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
  word-wrap: break-word;
}
