<!--Sửa footer chặt tay-->


<!-- Footer Start -->
<div class="container-fluid custom-bg-color-header text-light footer wow fadeIn custom-text-footer" data-wow-delay="0.1s">
  <div class="container pb-5">
    <div class="row g-5">
      <div class="col-md-6 col-lg-4 col-sm-6">
        <div class=" rounded p-4 custom-btn">
          <a href="#"><h1 class="custom-font-family-h1 mb-3" style=" color: #0d0d0d">C0921G1</h1></a>
          <p class="text-white mb-0">
            Cảm ơn <span class="fw-medium" style=" color: #0d0d0d">Quý Khách Hàng</span>, những
            thành viên của C09 CiNEMA. Kính chúc quý khách có được những cảm xúc thú vị cùng các bộ phim
            bom tấn của chúng tôi.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-6">
        <h6 class="section-title text-start custom-text-color text-uppercase mb-4 custom-font-family-h6">Địa Chỉ</h6>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>295 Nguyễn Tất Thành, Thanh Bình, Hải Châu,
          Tp. Đà Nẵng.</p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>(+84) 918 658 243</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>C0921G1@gmail.com</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="row gy-5 g-4">
          <div class="col-md-6 col-sm-6">
            <h6 class="section-title text-start custom-text-color text-uppercase mb-4 custom-font-family-h6">Chính Sách</h6>
            <a class="btn btn-link" href="">Giới Thiệu</a>
            <a class="btn btn-link" href="">Tiện Ích Online</a>
            <a class="btn btn-link" href="">Thẻ Quà Tặng</a>
            <a class="btn btn-link" href="">Tuyển Dụng</a>
            <a class="btn btn-link" href="">Liên Hệ Quảng Cáo</a>
          </div>
          <div class="col-md-6 col-sm-6">
            <h6 class="section-title text-start custom-text-color text-uppercase mb-4 custom-font-family-h6">Điều Khoản</h6>
            <a class="btn btn-link" href="">Điều Khoản Chung</a>
            <a class="btn btn-link" href="">Điều Khoản Giao Dịch</a>
            <a class="btn btn-link" href="">Chính Sách Thanh Toán</a>
            <a class="btn btn-link" href="">Chính Sách Bảo Mật</a>
            <a class="btn btn-link" href="">Câu Hỏi Thường Gặp</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 col-sm-6 text-center text-md-start mb-3 mb-md-0">
          &copy;2022 <a class="border-bottom" href="#">C09 CINEMA</a>, All Right Reserved.
          Designed By <a class="border-bottom" href="https://htmlcodex.com">C09 Member</a>
          <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">C0921G1</a>
        </div>
        <div class="col-md-6 col-sm-6 text-center text-md-end">
          <div class="footer-menu">
            <a href="">Trang Chủ</a>
            <a href="">Cookies</a>
            <a href="">Hỗ Trợ</a>
            <!--            <a href="">FQAs</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
